.container {
  display: flex;
}

.grid {
  background-color: #BAC7BE;/*#BAC7BE;*/
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 200px;
}

.grid div {
  /* #25291C */
  height: 20px;
  width: 20px;
}

.move-buttons {
  background-color: grey;
  border-radius: 0 0 15px 15px;
  width: 200px;
}

#left-button {
  border-radius: 10px;
  color: blue;
  margin: 20px 10px 0 20px;
  padding: 10px;
}

#right-button {
  border-radius: 10px;
  color: red;
  padding: 10px;
}

#rotate-counter-clockwise {
  background: red;
  color:orange;
  padding: 10px;
  border-radius: 50%;
  margin: 0 0 0 10px;
}

#down-button {
  border-radius: 10px;
  color: green;
  margin: 10px 0 10px 50px;
}


.tetromino {
  background-color: #305252; /*#305252;*/
  border-radius: 10%;
  box-shadow: inset 0 0 0 1px #77878b;
}

.mini-grid {
  /*background-color: #90b494;*/ /*temporarily removed background color for mini-grid*/
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  margin-left: 50px;
  width: 80px;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
